{% extends "main/Base.html" %}
{% block content %}
<div class = "Personal-information">
	<h4>User name</h4>
	<h4>mohaned.mashaly</h4>
	<h6>Memeber Since 2017</h6>
	<hr class = "line">
	<h5>Full Name </h5>
	<h6>Mohaned Mashaly</h6>
	<hr class = "line">
	<h5>Location</h5>
	<h6>Egypt, Cairo</h6>
	<hr class = "line">
	<h5>Biography</h5>
	<p>I am a student at ..</p>
</div>

	<style>
	.Personal-information{
		margin-top:18%;
		margin-left:2%;
	}
	.line {
		width: 30%;
		margin-right : 70%;
	}
		</style>
{% endblock %}
