{% extends "main/Base.html" %}
{% block content %}
<body>
  <title>Sellers</title>

  {% for service in Services %}
  <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{service.sellername.username}}</h5>
    <p class="card-text"><a href="Reserve/{{service.sellername.username}}" style= "color:coral">Reserve</a>
</p>
    <a href="mailto: {{service.sellername.Email}}">Send Email</a>
  </div>
</div>
{% endfor %}
</body>
  <style>
    .row{
      width : 50%;
      margin-top:10%;
    }
    #carouselExampleControls{
      margin-top:10%;
    }
    .body{
    background-color:coral;
    }
</style>
<script>
  M.AutoInit();
  var instance = M.Carousel.init({
    fullWidth: true,
    indicators: true
  });
  $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true
  });
  </script>
  {% endblock %}
